body {
	background-color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
		margin: 0 auto;

}

p.headline {
	text-align: center;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 5%;
}

p.body {
	margin: 5%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 4em;
	text-transform: uppercase;
	color: #222222;
	letter-spacing: -2px;
	margin-bottom:-10px;
	line-height: 1em;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #723a9f;
	margin-bottom:-40px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

img.headline {
	width: 100%; max-width: 555px;
}

img.imglogo {
	width: 80%; max-width: 372px; text-align: center;
}
.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.custom-counter li {
    counter-increment: step-counter;
}

.custom-counter ul li {
    float: left;
}


.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 8px;
    margin-left: -40px;
    font-size: 90%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 15px;
    line-height: 2em;
}


.box {
	float: left;
}

#root {
	max-width: 1280px; 
	margin: 0 auto;
}

#top {
	width: 100%;
	height:630px;
	margin: 0 auto;
  background: url("../images/headerbannerbag.png") no-repeat bottom center black; 
  
  }

#logo {
	width: 30%;
	padding-left:0;
	margin-top: 2%;
	margin-left:0;
	padding-bottom: 2%;
	text-align: center;
}

#packages {
	width: 100%;
	margin-top: 0 auto;
	background: white;
}

#packagesfixed {
	padding-top: 10%;
	background: url("../images/orderbag.png") center top no-repeat white;
		margin: 0 auto;

}
#flatbubble {
	position: absolute;
	margin-left: 57%; margin-top: -25px;
}

#navi {
	 width: 50%;
   color:white;
   padding:5%;
	 margin: 0 auto;
   text-align: right;
 }

#headline {
	width: 80%;

}

#refresh {
	width: 30%;
	text-align: center;
	margin-left: 2%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#basic {
	width: 30%;
	margin-left: 13%;
	margin-right: 2%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	float: left;
}

#oroption {
	width: 10%;
	padding-top: 10%;
  text-align: center;
}

#textus {
	width: 50%; min-width: 600px; max-width: 800px;
	border: 1px solid #e081c3;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	padding: 0;
}


#textusimage {
	width: 28%;
  padding-left: 5%;
	padding-top: 2%;
}

#textusinfo {
	width: 60%;
	padding-top: 5%;
	 }


#footer {
	width: 100%;
	background-color: #e081c3;
	margin: 0 auto;
	color: white;

}

#footer p {
	width: 88%;
	background-color: #e081c3;
	margin: 3%;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding: 3%;

}


#box12 { width: 100%;
	background-color: #222222;
	height:200px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 15px;
}


/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
	#top { width: 100%;}

#packages {
	width: 100%;
	margin: 0 auto;
	padding: 0;


}

	#textus { width: 80%; margin: 0 10% 10% 10%; padding: 5%;}
	#logo { width: 80%; padding-bottom: 15%; margin: auto 0;}
	#navi { width: 100%; visibility: hidden; display: none;}
	#refresh {
		width: 30%;
		text-align: center;
		margin-left: 0;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
}

#basic {
	width: 30%;
	margin-left: 5%;
	margin-right: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#oroption {
	width: 10%;
	padding-top: 10%;
  text-align: center;
}
	#textusimage { width: 100%; text-align: center;}
	#textusinfo { width: 30%; }
	#footer { width: 100%; }
	#box12 { width: 100%; }
}


/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
	#top { width: 100%; }
	#packages { width: 100%; }
	#textus { width: 100%; min-width: 321px; margin-left: 0; padding:0; position: relative; left: 0;}
	#logo { width: 100%; padding-bottom:5%;}
	#navi { width: 100%; visibility: hidden; display: none;}
	#refresh { width: 100%; }
	#basic { width: 100%; margin: 0 auto; padding-top: 100px;}
	#oroption { width: 100%; visibility: hidden; display: none;}
	#textusimage {margin-left: 30%; padding-top: 10%;}
	#textusinfo { width: 90%; padding: 0 5% 5% 5%; }
	#footer { width: 100%; }
	#box12 { width: 100%; }

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	text-transform: uppercase;
	color: #222222;
	letter-spacing: -2px;
	margin-bottom:-10px;
	line-height: 1em;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-transform: uppercase;
	color: #723a9f;
	margin-bottom:-20px;
	text-align: center;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
}
.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.custom-counter li {
    counter-increment: step-counter;
    min-width: 340px;

}
}

.custom-counter ul li {
    float: left;
}


.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 8px;
    margin-left: 0px;
    font-size: 30%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 15px;
    line-height: 2em;


/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
	#top { width: 100%; }
	#packages { width: 100%; }
	#textus { width: 100%;}
	#logo { width: 100%; }
	#navi { width: 100%; visibility: hidden; display: none;}
	#refresh { width: 100%; margin: auto 0;}
	#basic { width: 100%; margin: auto 0; }
	#oroption { width: 100%; margin: auto 0;}
	#textusimage { width: 100%; }
	#textusinfo { width: 100%; }
	#footer { width: 100%; }
	#box12 { width: 100%; }
}


/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	#top { width: 100%; }
	#packages { width: 100%; padding:5%; }
	#textus { width: 100%; }
	#logo { width: 100%;}
	#navi { width: 100%; visibility: hidden; display: none;}
	#refresh { width: 100%; }
	#basic { width: 100%; }
	#oroption { width: 100%; }
	#textusimage { width: 100%; }
	#textusinfo { width: 100%; }
	#footer { width: 100%; }
	#box12 { width: 100%; }
}

